* {
    margin: 0%;
    padding: 0%;
}

body {
    text-align: center;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: auto;
    padding: 0;
    z-index: 1;
    margin: 0;
    background-color: black;
    width: 100%;
    color: aliceblue;
}

.rodape {
    filter: brightness(80%);
    width: 100%;
}

#perfil {
    height: 97vh;
    padding: 2% 0 0 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    scroll-snap-align: center;
}

/* Estilo do vídeo de fundo */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Garante que o vídeo cubra toda a tela */
    z-index: -1;
    opacity: 0.2;
    /* Define a opacidade para que o conteúdo sobre o vídeo seja mais visível */
}

#ftperfil {
    opacity: 1;
    z-index: 10;
    border-radius: 50%;
    width: 200px;
    margin: 4% 0 2% 0;
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
    height: 200px;
}

#icon {
    width: 40px;
    margin: 4% 0 2% 0;
    padding: 5px;
    height: 40px;
}

#perfil h3 {
    width: 60%;
    text-align: left;
}

#ft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
}

#nome {
    margin: 3% 0 1% 0;
    font-size: 40px;
}

#prof {
    margin: 3% 0 1% 0;
    font-size: 40px;
}

#ft span {
    border: 2px solid white;
    border-radius: 6px;
    padding: 3px;
}

#secaoquecrieisoparacentralizarumtituloPQP {
    display: flex;
    scroll-snap-align: center;
    align-items: center;
    flex-direction: column;
    height:auto;
}

#pj {
    margin-bottom: 2%;
    font-size: 50px;
}

.projetos {
    scroll-snap-align: center;
    height: 60vh;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 90%;
    z-index: 1;
   
}

section:hover{
    background-color: rgba(3, 230, 255, 0.034);
}

.projetos1 {
    scroll-snap-align: center;
    height: 60vh;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 90%;
    z-index: 1;
}

.projetos img,
.projetos1 img {
    border-right: 2px solid grey;
    width: 70%;

    width: 370px;
    height: 200px;
    border-radius: 10% 50% / 100% 20%;
    border: 2px solid white;
}

#texto {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

#texto h1 {
    font-size: 40px;
    margin-bottom: 3%;
}

#projetos-card {
    margin-left: 4%;
    width: 200px;
    background-color: rgba(128, 128, 128, 0.231);
    border: 2px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projetos-card:hover {
    transform: scale(1.1);
}

#card img {
    margin-bottom: 5%;
    border: 2px solid white;
    border-radius: 9px;
}

#card h4 {
    font: 10px;
    margin: 5% 0;
}

#card h1 {
    font: 900;
    font-size: 30px;
    margin-bottom: 5%;
}

#link a {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 10px;
    padding: 3% 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
}

a {
    color: aliceblue;
    text-decoration: none;
}
#a {
    color: aliceblue;
    text-decoration: none;
    display: flex;
}

#sobre {
    height: 60vh;
    display: flex;
    padding-top: 1%;
    flex-direction: column;
}
#sobre h1{
    font-size: 40px;
    margin-bottom: 1%;
}

#coisadotextosobre{
    font-size: 20px;
    margin-bottom: 1%;

}

mark {
    background-color: orange;
    padding: 0 4px;
}


#passaro {
    position: fixed;
    right: -2%;
    animation: bird 10s infinite linear;
}

@keyframes bird {
    from {
        right: 0%;
    }

    to {
        right: 235%;
    }
}

@media screen and (max-width:767px) {
    #plataformas {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        border-radius: 8px;
        margin-top: 4%;
        background-color: black;
    }

    .projetos {
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        padding-bottom: 10%;
    }

    .projetos1 {
        margin-bottom: 10%;
        padding-bottom: 10%;
        flex-direction: column-reverse;
    }

    #pj {
        margin: 6% 0 10% 0;
        font-size: 50px;
    }

    #passaro {
        position: fixed;
        right: -2%;
        animation: bird 5s infinite linear;
    }

    @keyframes bird {
        from {
            right: 0%;
        }

        to {
            right: 235%;
        }
    }

}